.App {
  font-family: sans-serif;

  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTITmimbRDEFAbDlEXLy5HIT9JaKQrXwVUo0nppZaCoE8tsHVDk);
  background-size: cover;
  padding: 0;
  margin: 0;
  background-position: center;
  padding: 70px, 30px;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #f7d569;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom-left-radius: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #140202;
  color: #fff;
  font-size: 18px;
  border-radius: 28px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc187;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginbox a:hover {
  color: #ffc187;
}
